// .date-select{
//     margin: 15px
// }

// .modalfieldname{
//     width: 115px;
//     margin: 5px;
//     font-size:16px
// }

.semiTitle{
        background-color: #efecec;
        text-align: center;
        margin: 15px 0px;
        height: 50px;
        padding: 10px;
}

.funcbtn{
        margin: 10px;
        width:125px
}